#btnn{
    /* background-color: rgb(1, 187, 187); */
    display: inline-block; 
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    font-size: 1.125rem;
    line-height: 1.75rem; 
    font-weight: 600; 
    border-radius: 0.75rem; 
  }
  #btnn:hover {
    /* background-color: teal ; */
    text-decoration: none; 
    border: none;
    }